/* Colores */
:root {
    --principal: #2c3569;
    --principalTransparente: #2C35695f;
    --outline: #3B46A0;
    --colorContraste: #ffffff;

    --formValido: #71BE40FF;
    --formInvalido: #E02A1EFF;
    --formDeshabilitado:#e0e0e0;
    --btnEditar: #208749;
    --btnEliminar: #E02A1EFF;

    --platea: #F509195F;
    --anfiteatro: #F0DC0E5F;
    --palco: #B0FE695F;
    --paraiso: #42B0FE5F;

    --lineaButaca:#5B5B5F;
    --butaca:#9A999E;
    --lineaButacaHover:#9A999E;
    --butacaHover:#C3C3C5;
    --lineaButacaOcupada:#60161D;
    --butacaOcupada:#A01127;
    --lineaButacaSelect:#001D7E;
    --butacaSelect:#4A72B2;
}

body {
    max-height: 100vh;
}

body.grande {
    overflow: hidden;
}

.col-md-12 {
    padding: 0 !important;
}

.container-fluid {
    padding: 0 !important;
}

.navbar-brand {
    color: var(--principal) !important;
    font-weight: 600;
    text-transform: uppercase;
}

.active>.nav-link {
    color: var(--principal) !important;
}

.jumbotron {
    background: url("../img/asientos.jpg");
    background-size: cover;
    background-position: center 30%;
    color: var(--colorContraste);
    border-radius: 0;
    text-align: center;
}

.jumbotron h2 {
    margin-top: 2em;
    font-size: 3rem;
    text-shadow: 0 0 17px #333;
}

.jumbotron>* {
    transition: 1s;
}

body.grande .jumbotron {
    height: 100vh;
}

body.grande .jumbotron h2 {
    margin-top: calc((100vh - 2rem) / 3);
    font-size: 5rem;
    text-shadow: 0 0 17px #333;
}

input[type="checkbox"]~.custom-control-label,
input[type="radio"]~.custom-control-label {
    line-height: inherit !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label:before,
.custom-radio .custom-control-input:checked~.custom-control-label:before {
    background-color: var(--principal);
}

.custom-control-input:focus~.custom-control-label:before {
    box-shadow: 0 0 0 1px var(--colorContraste), 0 0 0 0.2rem var(--principalTransparente);
}

.custom-control-input:active~.custom-control-label:before {
    background-color: var(--principal);
}

.custom-file-control,
.form-control,
.is-focused .custom-file-control,
.is-focused .form-control {
    background-image: linear-gradient(0deg, var(--outline) 2px, rgba(0, 150, 136, 0) 0), linear-gradient(0deg, rgba(0, 0, 0, .26) 1px, transparent 0);
}

.btn-primary.active.custom-file-control:before,
.btn-primary.custom-file-control:active:before,
.btn-primary.custom-file-control:focus:before,
.btn-primary.custom-file-control:hover:before,
.btn-primary.focus.custom-file-control:before,
.btn.btn-primary.active,
.btn.btn-primary.focus,
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover,
.open>.btn-primary.dropdown-toggle.custom-file-control:before,
.open>.btn.btn-primary.dropdown-toggle {
    color: var(--colorContraste);
    background-color: var(--principal);
    border-color: var(--principal);
}
.btn.btn-primary:active:focus{
    color: var(--principal);
}
.custom-select:focus {
    border-color: var(--principal);
}

.btn-primary.custom-file-control:before,
.btn.btn-primary {
    color: var(--principal);
    background-color: transparent;
    border: solid 1px var(--principal);
}

#formularios {
    padding: 15px 2em !important;
}

body.grande .row.justify-content-center {
    display: none;
}

option:disabled {
    background-color: lightgrey;
}

i.fa {
    padding: 0 0.5em;
}

input {
    -webkit-appearance: push-button !important;
}

.fa-times,
.fa-pencil {
    font-size: 1.5em;
    padding: 0 !important;
    pointer-events: none;
}

.fa-times {
    color: var(--btnEliminar);
}

.fa-pencil {
    color: var(--btnEditar);
}

li>a {
    cursor: pointer;
}
select:required{
    box-shadow: none;
}
.was-validated input:invalid {
    border: 2px solid var(--formInvalido);
    border-radius: 4px;
}

.was-validated input:invalid~.invalid-feedback {
    display: inline-block;
}

.invalid-feedback {
    color: var(--formInvalido);
}

.was-validated input:invalid .invalid-feedback {
    display: inline-block !important;
}

.fa-check,
.fa-close {
    display: none;
}

.was-validated input:invalid~.fa-close,
.was-validated .error~.fa-close,
.was-validated .error~div .fa-close {
    color: var(--formInvalido);
    display: inline-block;
}

.was-validated .valido {
    border: 2px solid var(--formValido) !important;
    border-radius: 4px !important;
}

.was-validated .error {
    border: 2px solid var(--formInvalido) !important;
    border-radius: 4px !important;
}
/* Filtro */
.filtro {
    border: 2px solid var(--formDeshabilitado);
    border-radius: 4px;
    padding: 2em;
}

th>.row {
    margin: 0;
}

th>*,
.modal {
    pointer-events: none;
}

th.ordenable {
    pointer-events: auto;
    cursor: pointer;
}

/* Modal */
.modal {
    display: block;
}

.modal.show {
    pointer-events: auto;
}

/* Representación de butacas */
.grid-container {
    display: grid;
    grid-template-columns: 3em 16em;
    grid-template-rows: auto;
    margin: 0 auto;
    max-width: fit-content;
}

.fila2:after {
    content: "2";
    font-size: 0.7em;
}

.fila1:after {
    content: "1";
    font-size: 0.7em;
}

.fila3:after {
    content: "3";
    font-size: 0.7em;
}

.fila4:after {
    content: "4";
    font-size: 0.7em;
}

.platea {
    background-color: var(--platea);
}

.anfiteatro {
    background-color: var(--anfiteatro);
}

.palco {
    background-color: var(--palco);
}

.paraiso {
    background-color: var(--paraiso);
}

.fila1,
.fila2,
.fila3,
.fila4 {
    margin: 0 auto;
    padding: 0 0.5em;
}

.platea,
.anfiteatro,
.palco,
.paraiso {
    padding: 0.5em 0;
}

.platea {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-area: 3 / 2 / 4 / 3;
}

.platea .fila1 {
    grid-area: 4 / 1 / 5 / 2;
}

.platea .fila2 {
    grid-area: 3 / 1 / 4 / 2;
}

.platea .fila3 {
    grid-area: 2 / 1 / 3 / 2;
}

.platea .fila4 {
    grid-area: 1 / 1 / 2 / 2;
}

.anfiteatro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: 2 / 2 / 3 / 3;
}

.anfiteatro .fila1 {
    grid-area: 2 / 1 / 3 / 2;
}

.anfiteatro .fila2 {
    grid-area: 1 / 1 / 2 / 2;
}

.paraiso {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: 1 / 2 / 2 / 3;
}

.paraiso .fila1 {
    grid-area: 2 / 1 / 3 / 2;
}

.paraiso .fila2 {
    grid-area: 1 / 1 / 2 / 2;
}

.palco {
    grid-area: 2 / 1 / 4 / 2;
}

@font-face {
    font-family: 'butaca';
    src: url('../fonts/butaca.woff?n1hgk1') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.butaca-silla:before {
    font-family: 'butaca' !important;
    content: "\e900";
    font-size: 1em;
}

.butaca-silla {
    -webkit-text-stroke-color: var(--lineaButaca);
    color: var(--butaca);
    -webkit-text-stroke-width: 0.08em;
    font-size: 1.3em;
    padding: 0.3em !important;
}

.butaca-silla:hover {
    -webkit-text-stroke-color: var(--lineaButacaHover);
    color: var(--butacaHover);
}

.butaca-silla.ocupada {
    -webkit-text-stroke-color: var(--lineaButacaOcupada);
    color: var(--butacaOcupada);
}
.butaca-silla.seleccionada {
    -webkit-text-stroke-color: var(--lineaButacaSelect);
    color: var(--butacaSelect);
}
